.button_follow {
  color: var(--text-color21);
  border: 1px solid var(--text-colorA3);
  background-color: var(--background-color);
  width: 155px;
  height: 42px;
  font-family: 'Railway';
}

.button_click {
  width: 155px;
  height: 48px;
  font-size: 20px;
  margin-left: 16px;
  font-family: 'Horizontal';
  border: 0;
  color: var(--solid-button-fg);
  background-color: var(--solid-button-bg);
}

.button_click:hover {
  background-color: var(--solid-button-hover-bg);
}